/*********************************************
	Default font settings and typography.
*********************************************/

body {
	font-size: .85em;
	line-height: 1.5;
}
pre, code, tt, kbd {
	font-size: 1em;
	line-height: 1.5;
}

/*********************************************
	Container Div
*********************************************/

.builder-container-outer-wrapper .builder-container {
	padding: 0;
}

/*********************************************
	Default Module Styling
*********************************************/

.builder-module-outer-wrapper .builder-module {
	padding: 2em 1em 0 1em;
}
.builder-module-last {
	border-bottom: 0;
}
.builder-module-element {
	margin-bottom: 2em !important;
}

/*********************************************
	All Sidebars
*********************************************/

.builder-module-sidebar .widget-background-wrapper {
	margin-bottom: 2em;
}
.builder-module-sidebar h4.widget-title {
	font-size: 1.25em;
}

/*********************************************
	Header Module
*********************************************/

.builder-module-header .left .builder-module-element,
.builder-module-header .right .builder-module-element {
	text-align: center;
}
.site-title {
	font-size: 2.5em;
}
.site-tagline {
	font-size: 1em;
}

/*********************************************
	Navigation Module (Mobile/Responsive)
*********************************************/

.builder-module-outer-wrapper .builder-module-navigation {
	padding-top: 0;
	padding-bottom: 0;
}
.builder-module-navigation.mobile .builder-module-navigation-menu-wrapper {
	display: inherit;
	margin: 0;
}
.builder-module-navigation.mobile ul {
	background: #FFFFFF;
}
.builder-module-navigation.mobile li {
	width: 100%;
	position: relative;
}

/* second level stuff */
.builder-module-navigation.mobile li ul {
	position: relative !important;
	left: 0 !important;
	border: 0;
	width: 100%;
	margin: 0;
}
.builder-module-navigation.mobile li a,
.builder-module-navigation.mobile .current_page_item li a,
.builder-module-navigation.mobile .current-cat li a,
.builder-module-navigation.mobile .current-menu-item li a {
	margin: 0;
	background: transparent;
	border-color: transparent;
	color: #3B3F42;
	border: 2px solid #3C3E40;
	border-radius: 3px;
	margin-bottom: .5em;
	display: inline-block;
}
.builder-module-navigation.mobile li a:hover,
.builder-module-navigation.mobile .current_page_item li a:hover,
.builder-module-navigation.mobile .current-cat li a li a:hover,
.builder-module-navigation.mobile .current-menu-item li a:hover {
	background: #3B3F42;
	color: #ECECEC;
}
.builder-module-navigation.mobile li li {
	border: 0;
	width: 100%;
}
.builder-module-navigation.mobile li ul ul {
	margin: 0;
}
.builder-module-navigation.mobile li li a {
	padding: .25em .75em .25em .75em;
	margin-left: 2em;
	line-height: inherit;
}
.builder-module-navigation.mobile li li li a {
	margin-left: 4em;
}
.builder-module-navigation .menu.it-mobile-menu-hidden {
	display: none;
}
.it-mobile-menu {
	font-family: "Montserrat", "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1;
	color: #3C3E40;
	text-transform: uppercase;
	border: 2px solid #3C3E40;
	padding: .5em .75em;
	margin-bottom: 1em;
	border-radius: 3px;
	display: inline-block;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
}
.it-mobile-menu.border {
	margin-bottom: 1em;
	color: #FFFFFF;
	background: #E55E48;
	border-color: #E55E48;
}

/*********************************************
	Content Module
*********************************************/

.builder-module-content .hentry {
	margin-bottom: 3.5em;
}
.entry-title {
	font-size: 2em;
	margin-bottom: 0.5em;
}
.hentry .entry-meta {
	display: block;
	float: left;
	clear: both;
}
.hentry .entry-meta.alignleft {
	width: 100%;
	max-width: 100%;
	margin: 0;
}
.hentry .entry-meta.alignright {
	float: left;
	text-align: left;
	width: 100%;
	max-width: 100%;
	margin: 0;
}
.hentry .entry-footer .entry-pages,
.hentry .entry-footer .categories,
.hentry .entry-footer .comments {
	margin-bottom: 1em;
}
.hentry .edit-entry-link {
	clear: both;
}
.loop-title {
	font-size: 1.5em;
	display: inline-block;
	padding: .25em .5em;
	background: #EBEBEB;
	font-weight: normal;
	margin-bottom: 2.25em;
}

/*********************************************
	Comments
*********************************************/

.commentlist li.comment,
.commentlist li.trackback,
.commentlist li.pingback {
	padding-right: 0;
	padding-left: .75em;
}
.commentlist .comment-body {
	margin-right: .5em;
}
.commentlist .children li.comment,
.commentlist .children li.trackback,
.commentlist .children li.pingback {
	border-right: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	padding-right: 0;
}

/*********************************************
	Footer Module
*********************************************/

.builder-module-footer .builder-module-element .alignleft,
.builder-module-footer .builder-module-element .alignright {
	float: none;
	text-align: left;
}

/*********************************************
	Password Protected Post Form
*********************************************/

.post-password-required input[type="password"] {
	display: block;
	width: 100%;
	margin-top: .2em;
}
.post-password-required input[type="submit"] {
	display: block;
	width: 50%;
	margin-top: .5em;
}

/*********************************************
	Text elements
*********************************************/

blockquote {
	border-left: 0;
	padding: 0;
	font-size: 1em;
	line-height: 1.42;
	-webkit-font-smoothing: antialiased;
}

/* To prevent nested blockquotes from increasing in size */
blockquote blockquote {
	font-size: 100%;
}
blockquote p {
	margin-bottom: 1.5em;
}
blockquote cite {
	display: inline-block;
	margin-top: 1em;
}

/*********************************************
	Previous/Next Page Navigation
*********************************************/

.loop-utility {
	margin: 0 auto;
}

/*********************************************
	Module Stacking
*********************************************/

.builder-module-footer-outer-wrapper.builder-module-after-widget-bar-light-gray-outer-wrapper .builder-module {
	padding-top: 3em;
}
.builder-module #it-exchange-cart-actions .it-exchange-cart-apply-coupons {
	margin-bottom: 2em;
}
.builder-module #it-exchange-cart input[type="submit"].it-exchange-checkout-cart {
	float: left;
}